---
import Canvas from "../components/Canvas.astro";
import Projects from "../components/Projects.astro";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Canvas />
    <Projects />
    <script>
      import AOS from "aos";
      import "aos/dist/aos.css";
      AOS.init();
    </script>
  </body>
</html>
