---
const { pills, end } = Astro.props;
---

<div class={`pill-container pt-3 ${end ? "end" : ""}`}>
  {pills.map((data) => <div class="pill-button">{data}</div>)}
</div>

<style lang="scss">
  .pill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.35rem;
    &.end {
      justify-content: flex-end;
    }
  }
  .pill-button {
    border: none;
    background-color: var(
      --color-blue
    ); /* Change to desired background color */
    padding: 10px 20px; /* Adjust padding to fit the text */
    cursor: pointer;
    opacity: 0.99;
    font-size: 0.8rem;
    position: relative;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: white;
    > span {
      padding-left: 10px;
      padding-right: 10px;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      transition: 0.5s ease-in-out;
      z-index: -1;
    }
    &:before {
      right: -50px;
      border-right: 50px solid transparent;
      border-bottom: 80px solid black;
      transform: translateX(-100%);
    }
    &:after {
      left: -50px;
      border-left: 50px solid transparent;
      border-top: 80px solid black;
      transform: translateX(100%);
    }

    &:hover:before {
      transform: translateX(-49%);
    }
    &:hover:after {
      transform: translateX(49%);
    }
  }
</style>
