---
const { pills, end } = Astro.props;
---

<div class={`pill-container pt-3 ${end ? "end" : ""}`}>
  {pills.map((data) => <div class="pill-button">{data}</div>)}
</div>

<style lang="scss">
  .pill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.35rem;
    &.end {
      justify-content: flex-end;
    }
  }
  .pill-button {
    border: none;
    border-radius: 20px; /* Adjust the value to change the pill shape */
    background-color: var(
      --color-blue
    ); /* Change to desired background color */
    color: white; /* Change to desired text color */
    padding: 10px 20px; /* Adjust padding to fit the text */
    cursor: pointer;
    opacity: 0.75;
    font-size: 0.8rem;
  }

  .pill-button:hover {
    opacity: 1;
  }
</style>
